/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
}

/* APP BAR */
.app_bar {
    width: 100%;
    height: 60px;
    background-color: orangered;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 28px;
}

.app_bar i {
    color: white;
}

.app_logo {
    height: 100%;
    flex: 2;
    text-align: center;
}

.app_logo img {
    height: 100%;
}

/* MAIN */
main {
    padding: 20px;
}

main h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

/* ITENS LIST HOME */
.itens-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item-card {
    width: 250px;
    position: relative;
    overflow: hidden;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.item-card .item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.item-card .card-content {
    position: relative;
    padding: 20px;
}

.item-card .card-content h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

.item-card .card-content .iten-price {
    font-size: 22px;
}

.item-card .card-content .iten-price .less-price {
    font-size: 16px;
}

.iten-raiting {
    display: flex;
    color: yellow;
    margin-bottom: 10px;
    font-size: 18px;
}

.item-card .iten-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-detail{
    flex: 2;
    text-decoration: none;
    color: #333;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.icon-option {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 100%;
    margin-left: 5px;
    display: flex;
}

/* DETAILS PAGE */

.header-details {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.header-details img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header-details .option-details {
    position: relative;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.header-details .option-details .right-option {
    display: flex;
}

.header-details .option-details a {
    text-decoration: none;
}

.header-details .icon-option {
    color: black;
    font-size: 18px;
}

.main-details {
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-color: #f1f1f1;
    top: 240px;
}

.info-details .iten-raiting {
    color: #FFD700;
}

.info-details .iten-raiting p{
    color: #666;
    font-size: 14px;
    margin-left: 5px;
}

.info-details .description-details {
    font-size: 14px;
    color: #333;
    text-align: justify;
}

.info-details .galery-details {
    display: flex;
    align-items: center;
    margin: 20px;
}

.info-details .galery-details .galery-image {
    flex: 1;
    margin: 5px;
}

.info-details .galery-details .galery-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.info-details .buy-iten {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-details .buy-iten .price-iten {
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
}

.info-details .buy-iten .option-detail {
    background-color: orange;
    color: white;
}

/* LIGHTBOOX */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 999;
    padding: 1em;
    color: white;
    text-decoration: none;
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lightbox span p {
    text-align: center;
    position: relative;
    top: 70vh;
}

/* CONFIRM ORDER */

.order-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-itens .order-card {
    display: flex;
    background-color: #ddd;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.order-itens .order-card .card-image {
    flex: 1.5;
}

.order-itens .order-card .card-image img {
    width: 100%;
    height: 100%;
}

.order-itens .order-card .card-details {
    flex: 2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-itens .order-card h2 {
    font-size: 26px;
}

.order-itens .order-card #iten-price {
    font-size: 22px;
    font-weight: bold;
}

.order-itens .order-card p {
    color: #666;
}

.order-itens .button-confirm {
    width: 80%;
    margin-top: 30px;
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 20px 0;
    border-radius: 100px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-itens .button-confirm i {
    margin-right: 10px;
}


